@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900|Noto+Serif+TC:200,300,400,500,600,700,900&display=swap');

/* 
body{
    background-color: #033B4E;
} */
#service{
    background-color: rgba(3, 59, 78, 0.8);
}

/* @media screen and (min-width:768px){} */
.s-service-mobile{
    background-color: #033B4E; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}
.s-mobile-mobile-title {
    text-align: left;
    color: #B0915B;
    font-family: 'Noto Serif TC', serif;
    font-size: 32px;
    font-weight:900;
    line-height: 24px;
    margin-bottom: 16px;
    padding-top: 64px;
    padding-bottom: 56px;
    text-align: center;
    letter-spacing: 0.3em;
}
.s-service-mobile h1{ 
    margin: auto;
    width: calc(80vw - 20px) ;
    text-align: center;
    line-height: 18px;
    padding: 12px 10px ;
    background-color: #B0915B;
    color: #033B4E;
    font-family: 'Noto Serif TC', serif;
    font-size: 24px;
    font-weight:700;
    border-radius: 14px;
    letter-spacing: 0.2em;
}
.s-mobile-infor-box{
    margin: auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    margin-bottom: 10px;
    padding: 10px 0px;
    /* background-color: #B0915B; */
    /* border-bottom: 1px solid #B0915B; */
    }
.s-mobile-infor-box:last-child{
 
    border-bottom: none;
    margin-bottom: 10px;
}
.s-mobile-content-image{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: antiquewhite; */
}
.s-mobile-content-image>img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 16px;
    /* border: 5px solid #033B4E; */
}
.s-mobile-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.s-mobile-text>p{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 0.2em;
    line-height: 150%;
    color: #FDFDF5;
    text-align: justify;
    margin-bottom: 10px;
    padding: 0 16px;
    margin-top: 16px;
}
.s-mobile-works-btn{
    /* background-color:blue ; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 32px;
}
.s-mobile-works-btn>a{
    text-decoration: none;
    color: #B0915B;
    font-family: 'Noto Serif TC', serif;
    font-weight:500;
    text-align:center;
    font-size: 16px;
    padding-top: 8px;
    letter-spacing: 0.2em;
}

@media screen and (max-width: 414px) {
    .s-mobile-mobile-title {
        font-size: 28px;
    }
    .s-service-mobile h1 {
        font-size: 20px;
    }
    .s-mobile-content-image>img {
        width: 80px;
        height: 80px;
    }
    .s-mobile-text>p {
        font-size: 16px;
    }
    .s-mobile-works-btn>a {
        font-size: 13px;
    }
}
/* ///////////////mobile-end/////////////// */
/* ///////////////mobile-end/////////////// */
/* ///////////////mobile-end/////////////// */

.s-service-space{
    width: 100%;
    height: calc(100vh - 86px ) ;
    margin-top:86px ;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content:space-around ; 
    /* background-color: aquamarine; */
}
.s-Service{ 
    margin: auto;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80%;
    overflow: hidden;
}



/* /////////////////////////////////////////////////////////// */
/* //////////////////////s-select///////////////////////////// */
/* /////////////////////////////////////////////////////////// */

.s-select{
    align-self: center;
    width: 25%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* padding-left: 10%; */
    padding-top: 8%;
    z-index: 999;
    margin-left: 10%;
}
.s-title{
    text-align: center;
    color: #B0915B;
    font-family: 'Noto Serif TC', serif;
    font-size: 50px;
    font-weight:700;
    letter-spacing: 0.3em;
    align-self: flex-start;
    margin: 0 200px;
    /* background-color: blueviolet; */
}
@media screen and (max-width:768px){
    .s-title{
        display: none;
    }
}

.s-select-theme{
    width: 100%;
    height: 40%;
    /* background-color: rgb(163, 21, 139); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 50px;

}
.s-select-theme P{
    font-size: 22px;
}
.s-option{
    width:150px;
    line-height: 30px;
    display: block;
    /* background-color: chartreuse; */
    text-align: center;
    color: #B0915B;
    font-family: 'Noto Serif TC', serif;
    font-size: 20px;
    font-weight:700;
    align-self:center;
    transition: 0.3s;
    letter-spacing: 0.2em;
}
.s-option>a{
    display: block;
    text-decoration: none;
    color: #B0915B;
}
.s-option>a>p {
    margin: auto;
    padding: 0px; 
    width:  120px; 
    line-height: 30px;
    text-align: center;
    position: relative;
    /* background-color: #fff; */
}
.s-option>.s-lastChildren{
    width:  88px; 
}

.s-option:hover{
    background-image: url(../images/service-option-hover-02.svg);
    background-size: 150px 100%;
    font-size: 20px;
}
.s-select-active{
    
    background-image: url(../images/service-option-hover-02.svg);
    background-size: 150px 100%;
    font-size: 20px;
}
.s-select-active-text{
    display:block;
    position:absolute;
    margin:auto;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background-color: #B0915B;
    animation-name : extend;
    animation-fill-mode:forwards;
    animation-timing-function:ease-in-out;
    animation-duration:0.5s;
}
@keyframes extend {
    0% {transform: scaleX(0);
        
    }
 100% {
    transform: scaleX(1);
    };
}

/* /////////////////////////////////////////////////////////// */
/* //////////////////////s-outcome///////////////////////////// */
/* /////////////////////////////////////////////////////////// */
.s-outcome{
    width: 75%;
    /* background-color: rgb(219, 55, 82); */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
    margin-left: 5%;
}
.s-content{
    align-self: center;
    /* background-color: darkgoldenrod; */
    margin-bottom: 50px;
    width: 100%;
    height: 60%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    animation-duration: 0.5s;
    animation-delay: 0.8s;
}
.s-content-box{
    /* background-color: rgb(55, 104, 196); */
    display: block;
    align-self: center;
    position: relative;
    width: 80%;
    height: 100%;
}
.s-content-bcgblock{
    display: block;
    width: calc(100% - 30px);
    height: 90%;
    max-width: 690px;
    max-height: 365px;
    background-color: #B0915B;
    border-radius: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.s-content-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: calc(100% - 30px);
    height:  90%;
    max-width: 690px;
    max-height: 365px;
    background-size: 100% ;
    background-repeat: no-repeat;
    position: absolute;
    top: 30px;
    left: 30px;
    border-radius: 5px;
    box-shadow: -2px -2px 5px 1px rgba(0, 15, 20, 0.3);
  
}
.s-content-theme{
    background-color:#FDFDF5;
    width: 100px;
    height: 40px;
    line-height: 40px;
    color: #B0915B;
    text-align: center;
    border-radius: 20px;
    font-family: 'Noto Serif TC', serif;
    font-weight: 600;
    box-shadow: 1px 1px 5px 1px rgba(0, 15, 20, 0.3);
    position: absolute;
    top: 15px;
    letter-spacing: 0.1em;
}
.s-content-theme>p{
    position: absolute;
    width: 90px;
    height: 40px;
    text-align: center;
    top: calc( 50% - 20px);
    left: calc( 50% - 45px);
    font-size: 16px;
}
.s-content-image-exchange{
    display: none;
}
.s-bottom-fadeout{
    display: none; }




/* /////////////////////////////////////////////////////////// */
/* //////////////////////s-infor///////////////////////////// */
/* /////////////////////////////////////////////////////////// */
.s-infor{
    align-self: center;
    border-radius: 10px;
    max-width: 690px;
    width: 70%;
    background-color: #B0915B;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    animation-duration: 0.5s;
    animation-delay: 1.6s;
    left: 0;
}
@media screen and (min-width: 1760px) {
    .s-infor{
        left: -125px;
    }
}
.s-infor-slideArea{
    display: none;
   
}

.s-infor-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* position: absolute; */
    padding: 20px 50px;
}
.s-infor-bottom{
    display: none;
}
.s-fadein{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.s-text{
    margin-bottom: 10px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    letter-spacing: 0.2em;
    line-height: 32px;
    color: #FDFDF5;
    text-align: justify;
}
.s-infor-box>.s-works-btn{
   align-self:flex-end ;
 
}
.s-works-btn>a{
    background-color: #00394C;
    text-align: center;
    display: block;
    width: 100px;
    line-height: 40px;
    color: #B0915B;
    text-decoration: none;
    font-family: 'Noto Serif TC', serif;
    font-weight: 600;
    font-size: 16px;
    border-radius: 20px;
    transition: 0.3S;
    letter-spacing: 0.1em;
}
.s-works-btn>a:hover{
    transform: scale(1.1);
    background-color: #FDFDF5;
}

